<h3 class="section-title">
  <span nz-icon nzType="user" nzTheme="outline"></span>
  Personal Information
</h3>

<div [formGroup]="formGroup()">
  <div class="form-row">
    <nz-form-item class="form-item-half">
      <nz-form-label nzRequired>Name</nz-form-label>
      <nz-form-control [nzErrorTip]="nameError">
        <input nz-input formControlName="name" placeholder="John Doe" />
        <ng-template #nameError let-control>
          @if (control.hasError("required")) {
            Name is required
          }
          @if (control.hasError("minlength")) {
            Minimum length is 3 characters
          }
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="form-item-half">
      <nz-form-label nzRequired>Username</nz-form-label>
      <nz-form-control [nzErrorTip]="usernameError">
        <input nz-input formControlName="username" placeholder="johndoe" />
        <ng-template #usernameError let-control>
          @if (control.hasError("required")) {
            Username is required
          }
          @if (control.hasError("minlength")) {
            Minimum length is 3 characters
          }
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </div>

  <nz-form-item>
    <nz-form-label nzRequired>Email</nz-form-label>
    <nz-form-control [nzErrorTip]="emailError">
      <input
        nz-input
        formControlName="email"
        type="email"
        placeholder="john@example.com"
      />
      <ng-template #emailError let-control>
        @if (control.hasError("required")) {
          Email is required
        }
        @if (control.hasError("email")) {
          Please enter a valid email
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <div class="form-row">
    <nz-form-item class="form-item-half">
      <nz-form-label>Phone</nz-form-label>
      <nz-form-control [nzErrorTip]="phoneError">
        <input
          nz-input
          formControlName="phone"
          placeholder="+1 (555) 000-0000"
        />
        <ng-template #phoneError let-control>
          {{ control.getError("invalidPhone") }}
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="form-item-half">
      <nz-form-label>Website</nz-form-label>
      <nz-form-control [nzErrorTip]="websiteError">
        <input nz-input formControlName="website" placeholder="example.com" />
        <ng-template #websiteError let-control>
          {{ control.getError("invalidWebsite") }}
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>
